# Data Categories

The data is seperated in these categories; 
 
`ResponseId | MainBranch | Employment | RemoteWork| EdLevel| YearsCode | OrgSize | Country | Age | Gender | Trans | Sexuality | Ethnicity | Accessibility | MentalHealth | WorkExp | ConvertedCompYearly | C# | C | HTML/CSS,
  | Python | Dart | Bash/Shell | JavaScript | Java | Haskell | Assembly | Go | Groovy | Crystal | PHP | Delphi | C++ | Clojure | Kotlin | APL | Rust | TypeScript | COBOL | PowerShell | Scala | Elixir | F# | LISP | Ruby | Julia | MATLAB | Objective-C | Erlang | Swift | Fortran | OCaml | R | SQL | Perl | Lua | VBA`
  
Our Inputs for the model are;

`MainBranch | Employment | RemoteWork| EdLevel| YearsCode | OrgSize | Country | Age | Gender | Trans | Sexuality | Ethnicity | Accessibility | MentalHealth | WorkExp | C# | C | HTML/CSS,
  | Python | Dart | Bash/Shell | JavaScript | Java | Haskell | Assembly | Go | Groovy | Crystal | PHP | Delphi | C++ | Clojure | Kotlin | APL | Rust | TypeScript | COBOL | PowerShell | Scala | Elixir | F# | LISP | Ruby | Julia | MATLAB | Objective-C | Erlang | Swift | Fortran | OCaml | R | SQL | Perl | Lua | VBA`
  
Our Outputs for the model will be;

`ConvertedCompYearly`

# Importing data and libraries

In [33]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pickle as pkl

sns.set()

from sklearn.model_selection import train_test_split, RandomizedSearchCV
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
from sklearn.preprocessing import StandardScaler, PolynomialFeatures
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import cross_val_score, train_test_split, KFold, GridSearchCV
from sklearn.ensemble import RandomForestRegressor, ExtraTreesRegressor
from sklearn import metrics
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
from sklearn.metrics import confusion_matrix, classification_report

In [34]:
df = pd.read_csv("CleanedData.csv")
df

,Unnamed: 0,ResponseId,MainBranch,Employment,RemoteWork,EdLevel,YearsCode,OrgSize,Country,Age,...,Objective-C,Erlang,Swift,Fortran,OCaml,R,SQL,Perl,Lua,VBA
0,11,12,1,1,1,1,3,1,1,1,...,0,0,0,0,0,0,1,0,0,0
1,12,13,2,2,2,1,3,2,1,2,...,0,0,1,0,0,0,1,0,0,0
2,14,15,2,1,1,2,3,3,1,2,...,0,0,0,0,0,1,0,0,0,0
3,21,22,2,2,2,2,2,1,2,2,...,0,0,0,0,0,0,1,0,0,0
4,22,23,2,2,1,3,4,4,3,1,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21078,73110,73111,2,2,1,1,3,1,3,2,...,0,0,0,0,0,0,0,0,0,0
21079,73112,73113,2,2,2,1,2,5,24,2,...,0,0,0,0,0,0,0,0,0,0
21080,73113,73114,2,2,1,2,2,5,1,2,...,0,0,0,0,0,0,0,0,0,0
21081,73116,73117,2,2,2,1,4,9,1,1,...,0,0,0,0,0,0,0,0,0,0
21082,73119,73120,2,2,2,1,2,3,1,2,...,0,0,0,0,0,0,1,0,0,0

In [35]:
df['ConvertedCompYearly']

0        194400
1         65000
2        110000
3         34126
4         97605
          ...
21078     60906
21079     52255
21080     94000
21081    115000
21082     70000
Name: ConvertedCompYearly, Length: 21083, dtype: int64

# Define Input and Output

In [36]:
# Input data 
X = df[['MainBranch','Employment','RemoteWork','EdLevel','YearsCode','OrgSize','Country','Age','Gender','Trans','Sexuality','Ethnicity','Accessibility','MentalHealth','WorkExp','C#','C','HTML/CSS','Python','Dart','Bash/Shell','JavaScript','Java','Haskell','Assembly','Go','Groovy','Crystal','PHP','Delphi','C++','Clojure','Kotlin','APL','Rust','TypeScript','COBOL','PowerShell','Scala','Elixir','F#','LISP','Ruby','Julia','MATLAB','Objective-C','Erlang','Swift','Fortran','OCaml','R','SQL','Perl','Lua','VBA']]
#X = df[['MainBranch','Employment','RemoteWork','EdLevel','YearsCode','OrgSize','Country','Age','Gender','Trans','Sexuality','Ethnicity','Accessibility','MentalHealth','WorkExp']]

# Output data 
y = df["ConvertedCompYearly"]

X = np.asarray(X).astype('float32')
y = np.asarray(y).astype('float32')


#rebalance using SMOTE
#from imblearn.over_sampling import SMOTE

#smote = SMOTE(random_state=42)
#X, y = smote.fit_resample(X, y)

# Split data into training and test sets, 70% and 30%.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Modeling

In [37]:
from sklearn.linear_model import Ridge,Lasso,RidgeCV,LassoCV,ElasticNet,ElasticNetCV,LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn import neighbors
from sklearn.svm import SVR

## Chosing a model we will use

In [38]:
knn=KNeighborsRegressor().fit(X_train,y_train)
ada=AdaBoostRegressor().fit(X_train,y_train)
svm=SVR().fit(X_train,y_train)
ridge=Ridge().fit(X_train,y_train)
lasso=Lasso().fit(X_train,y_train)
rf=RandomForestRegressor().fit(X_train,y_train)
gbm=GradientBoostingRegressor().fit(X_train,y_train)

models=[ridge,lasso,knn,ada,svm,rf,gbm]

def ML(Y,models):
    y_pred=models.predict(X_test)
    mse=mean_squared_error(y_test,y_pred)
    rmse=np.sqrt(mean_squared_error(y_test,y_pred))
    r2=r2_score(y_test,y_pred)*100
    
    return mse,rmse,r2

for i in models:
    print("\n",i,"\n\nDifferent models success rate :",ML("salary_in_usd",i))

 Ridge()

Different models success rate : (2734847000.0, 52295.766, 30.673921629703614)

 Lasso()

Different models success rate : (2734753800.0, 52294.875, 30.67628432321624)

 KNeighborsRegressor()

Different models success rate : (2679632100.0, 51765.164, 32.07356818760804)

 AdaBoostRegressor()

Different models success rate : (3023958291.67657, 54990.5291088981, 23.345188744811917)

 SVR()

Different models success rate : (4180439212.387395, 64656.31610591029, -5.97063447316124)

 RandomForestRegressor()

Different models success rate : (2159685573.6067004, 46472.417341975015, 45.25377864137526)

 GradientBoostingRegressor()

Different models success rate : (2080163697.7114964, 45608.81162353933, 47.269591625365095)

## lets fo only US, Country == 1

In [13]:
df

,Unnamed: 0,ResponseId,MainBranch,Employment,RemoteWork,EdLevel,YearsCode,OrgSize,Country,Age,...,Objective-C,Erlang,Swift,Fortran,OCaml,R,SQL,Perl,Lua,VBA
0,11,12,1,1,1,1,3,1,1,1,...,0,0,0,0,0,0,1,0,0,0
1,12,13,2,2,2,1,3,2,1,2,...,0,0,1,0,0,0,1,0,0,0
2,14,15,2,1,1,2,3,3,1,2,...,0,0,0,0,0,1,0,0,0,0
3,21,22,2,2,2,2,2,1,2,2,...,0,0,0,0,0,0,1,0,0,0
4,22,23,2,2,1,3,4,4,3,1,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21078,73110,73111,2,2,1,1,3,1,3,2,...,0,0,0,0,0,0,0,0,0,0
21079,73112,73113,2,2,2,1,2,5,24,2,...,0,0,0,0,0,0,0,0,0,0
21080,73113,73114,2,2,1,2,2,5,1,2,...,0,0,0,0,0,0,0,0,0,0
21081,73116,73117,2,2,2,1,4,9,1,1,...,0,0,0,0,0,0,0,0,0,0
21082,73119,73120,2,2,2,1,2,3,1,2,...,0,0,0,0,0,0,1,0,0,0

In [23]:
filtered_df = df[df['Country'] == 1]

In [14]:
filtered_df = df[df['Country'] == 1]

columns_to_sum = ['C#', 'C', 'HTML/CSS', 'Python', 'Dart', 'Bash/Shell', 'JavaScript', 'Java', 'Haskell', 'Assembly', 
                  'Go', 'Groovy', 'Crystal', 'PHP', 'Delphi', 'C++', 'Clojure', 'Kotlin', 'APL', 'Rust', 'TypeScript', 
                  'COBOL', 'PowerShell', 'Scala', 'Elixir', 'F#', 'LISP', 'Ruby', 'Julia', 'MATLAB', 'Objective-C', 
                  'Erlang', 'Swift', 'Fortran', 'OCaml', 'R', 'SQL', 'Perl', 'Lua', 'VBA']

for col in columns_to_sum:
    if col not in filtered_df.columns:
        filtered_df[col] = 0

# Sum the values of the specified columns and create a new column 'new'
filtered_df['new'] = filtered_df[columns_to_sum].sum(axis=1)

/var/folders/20/s1bs30995pj98tx9jqb5slcc0000gn/T/ipykernel_71800/705839511.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['new'] = filtered_df[columns_to_sum].sum(axis=1)

In [24]:
# Input data 
#X = df[['MainBranch','Employment','RemoteWork','EdLevel','YearsCode','OrgSize','Age','Gender','Trans','Sexuality','Ethnicity','Accessibility','MentalHealth','WorkExp','C#','C','HTML/CSS','Python','Dart','Bash/Shell','JavaScript','Java','Haskell','Assembly','Go','Groovy','Crystal','PHP','Delphi','C++','Clojure','Kotlin','APL','Rust','TypeScript','COBOL','PowerShell','Scala','Elixir','F#','LISP','Ruby','Julia','MATLAB','Objective-C','Erlang','Swift','Fortran','OCaml','R','SQL','Perl','Lua','VBA']]
#X = df[['MainBranch','Employment','RemoteWork','EdLevel','YearsCode','OrgSize','Age','Gender','Trans','Sexuality','Ethnicity','Accessibility','MentalHealth','WorkExp']]
#X = df[['MainBranch','Employment','RemoteWork','EdLevel','YearsCode','OrgSize','Age','Gender','Trans','Sexuality','Ethnicity','Accessibility','WorkExp']]
#X = filtered_df[['Employment','RemoteWork','EdLevel','YearsCode', 'Age','Gender','Trans', 'Sexuality','Accessibility','MentalHealth','Ethnicity','WorkExp', 'new']]

X = filtered_df[['MainBranch','Employment','RemoteWork','EdLevel','YearsCode','OrgSize','Age','Gender','Trans','Sexuality','Ethnicity','Accessibility','MentalHealth','WorkExp','C#','C','HTML/CSS','Python','Dart','Bash/Shell','JavaScript','Java','Haskell','Assembly','Go','Groovy','Crystal','PHP','Delphi','C++','Clojure','Kotlin','APL','Rust','TypeScript','COBOL','PowerShell','Scala','Elixir','F#','LISP','Ruby','Julia','MATLAB','Objective-C','Erlang','Swift','Fortran','OCaml','R','SQL','Perl','Lua','VBA']]



# Output data 
y = filtered_df["ConvertedCompYearly"]

X = np.asarray(X).astype('float32')
y = np.asarray(y).astype('float32')


#rebalance using SMOTE
#from imblearn.over_sampling import SMOTE

#smote = SMOTE(random_state=42)
#X, y = smote.fit_resample(X, y)

# Split data into training and test sets, 70% and 30%.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [25]:
from sklearn.linear_model import Ridge,Lasso,RidgeCV,LassoCV,ElasticNet,ElasticNetCV,LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn import neighbors
from sklearn.svm import SVR

In [26]:
knn=KNeighborsRegressor().fit(X_train,y_train)
ada=AdaBoostRegressor().fit(X_train,y_train)
svm=SVR().fit(X_train,y_train)
ridge=Ridge().fit(X_train,y_train)
lasso=Lasso().fit(X_train,y_train)
rf=RandomForestRegressor().fit(X_train,y_train)
gbm=GradientBoostingRegressor().fit(X_train,y_train)

models=[ridge,lasso,knn,ada,svm,rf,gbm]

def ML(Y,models):
    y_pred=models.predict(X_test)
    mse=mean_squared_error(y_test,y_pred)
    rmse=np.sqrt(mean_squared_error(y_test,y_pred))
    r2=r2_score(y_test,y_pred)*100
    
    return mse,rmse,r2

for i in models:
    print("\n",i,"\n\nDifferent models success rate :",ML("salary_in_usd",i))

 Ridge()

Different models success rate : (2316795000.0, 48133.094, 23.704262296879897)

 Lasso()

Different models success rate : (2317339000.0, 48138.746, 23.68635252663306)

 KNeighborsRegressor()

Different models success rate : (2864180000.0, 53518.035, 5.678002185775288)

 AdaBoostRegressor()

Different models success rate : (2622518777.9810967, 51210.53385760684, 13.636295536875298)

 SVR()

Different models success rate : (3061345417.8943353, 55329.4263289828, -0.814961993943486)

 RandomForestRegressor()

Different models success rate : (2416595303.9814568, 49158.87818066495, 20.417682270821135)

 GradientBoostingRegressor()

Different models success rate : (2307895636.533455, 48040.56240858817, 23.997334791725542)